body {
    background-color: #282b30;
    font-family: sans-serif;
  }
a {
    text-decoration: none;
    color: #fff;
}
.upper {
    background-color: #1e2124;
    color: #fff; 
    font-family: sans-serif;
    font-size: 1.3vw; 
}
.main-container {
    background-color: #424549;
    color: #fff; 
    font-family: sans-serif;
    font-size: 1.3vw; 
}
.button {
  background-color: #7289da;
   font-family: sans-serif;
   font-size: 1.2vw; 
   font-weight: bold;
   border-radius: 5vw;
   padding: 0px;
   text-align: center;
   vertical-align:middle;
}
.buttonmob {
  background-color: #7289da;
   font-family: sans-serif;
   font-size: 1.2vw; 
   font-weight: bold;
   border-radius: 5vw;
   padding: 0px;
   text-align: center;
   vertical-align:middle;
}
.buttonmob:hover {
  background-color:#849ffe;
}
.button:hover {
  background-color:#282b30;
}
.dropbtn {
    background-color: #36393e;
    color: white;
    padding: 2.5vh;
    font-size: 2vh;
    border: none;
  }
.dropdown {
    position: absolute;
    display: inline-block;
    margin-top: 2.5vh;
    margin-left: 3vw;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7289da;
    color: #fff;
    min-width: 12vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    color: #fff;
    padding: 2vh 2vh;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: #85a0ff;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #424549;}
